{% if params.states -%}
{% for state in params.states -%}
The {{ state[0] }} in room {{ state[1].replace("_", " ") }} is {{ state[2] }}.
{% endfor -%}
{% else -%}
No database entries were found{% if params.rooms %} for {{ params.rooms | join(", ") }}{% endif %}.
{% endif -%}
